<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.matrix.androidsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- bluetooth headset -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- libjingle is designed for API >= 15 but the app should work from API >= 11 -->
    <!--uses-sdk tools:overrideLibrary="io.pristine.libjingle"/-->
    <!-- WebRTC is designed for API >= 21 but the app should work from API >= 16 -->
    <uses-sdk tools:overrideLibrary="com.oney.WebRTCModule" />

    <!-- When targeting API 28, clear text traffic is disabled by default. Enable it, because some homeservers need it -->
    <application
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <receiver android:name=".sync.EventsThread$SyncDelayReceiver" />
    </application>
</manifest>
